* {
    text-align: center;
}

h1 {
    color : white;
}
body {
    color:white;
    background-color:teal;
}
a {
    color:yellowgreen
}

#c {
    margin-left: auto;
    margin-right: auto;
}