/*CSS file created in class by Dr. Jerkins*/

/*some color was added*/

body {
    margin-left: 32%;
    margin-right: 32%;
    border: 1px solid black;
    padding: 1%;
    background-color: lightblue;
}

h3 {
    text-align: center;
    font-family: Times, serif;
    font-weight: bold;
    font-size: 1.5em;
}

label {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}
