/* Provided by Dr. James Jerkins */

body {
    background-color: darkseagreen;
    font-family: Georgia, Sans-Serif;
}

table {
    border: 1px solid black;
    background-color: white;
    
}

th {
    background-color: black;
    color: white;
    text-align: left;
    padding: 1em;
}

td {
    padding: 0.5em;
}

input {
    margin: 0.5em;
}

.center {
    margin: auto;
    width: 55%;
}
