body {
    font-family: Georgia, serif;
}

.center {
    margin: auto;
    width: 50%;
    border: solid 2px black;
    padding: 1em;
    background-color: #E7E7E7;
}

h1 {
    text-align: center;
}

fieldset {
    margin-top: 0.53em;
    margin-bottom: 0.5em;
    width: 50%;
}

button {
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px, 20px, 0, rgba(0, 0, 0, 0.19);
}

button.submit {
    background-color: #4CAF50;
}
